/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: auto;
}

header {
    color: #e5326f;
    text-align: center;
    padding: 30px;
}



section:first-child p {
    text-align: center;
    margin-bottom: 30px;
}

/* COMMON */

body {
    font-family: 'Fredoka', sans-serif;
}

.card {
    background-color: black;
    padding: 5px;
    float: left;
    width: calc(100% / 3);
    border: 1px solid white;
    color: white;
}

.details span {
    padding: 10px 0;
}

.details span:last-child {
    color: #2dabcf;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

img {
    width: 100px;
    float: left;
}
.details {
    float: left;
    margin: 15px;
}








