/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 70%;
    margin: auto;
    background-color:lightblue;
}

header {
    background-color: lightcoral;
}

.columns {
    background-color: lightseagreen;
}

/* COMMON */

.card {
    background-color: lightskyblue;
    padding: 5px;
    float: left;
    width: calc(100% / 3);
    border: 1px solid black;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
